*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing:border-box;

}

body {
    background-color: #f0f2f5;
    position: relative;
    height: 115vh;
    overflow-x: hidden;
}
#container{
    display: flex;

}
#recent-login{
    display: flex;
    flex-direction: column;
    position: relative;
    left:20vw;
    top: 13vh;
    margin-right: 30vw;
    
}
#facebook{
    height:70px;
    width:198px;
    margin:-20px;
}
#recent-login > #title{
    font-size:28px;
    font-weight:normal;
    line-height:32px;
    margin-top: 20px;
    margin-bottom:5px;
}
#recent-login > #subtitle{
    color:#606770;
    font-size: 15px;
    line-height:15px;
    margin-bottom: 20px;
    font-weight: 400;
}
#card{
    display: flex;
}
#card1 ,#card2{
    position: relative;
    background-color:white;
    margin-right: 10px;
    border-radius: 20px;

}
#card1:hover ,#card2:hover{
    box-shadow:0px 8px 16px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: box-shadow 0.3s;
}
#card1img,#card2img{
    height:160px;
    width: 160px;
    border-top-left-radius:5px;
    border-top-right-radius: 5px;

}
#add-account{
    color: #166fe5;

}

.username{
    font-size: 18px;
    line-height:22px;
    padding: 12px;
    text-align: center;
    color:rgba(75,79,86);

}
#cancel{
    position:absolute;
    left:8px;
    color: white;
    top: 5px;
    border-radius: 50%;
    text-align: center;
    height: 20px;
    width: 20px;
    background-color:rgba(63,62,62,0.5);
    opacity:0.5 ;
}
#card1:hover #cancel{
    background-color:white;
    opacity:1;
    color: rgba(194,193,193);
    height:25px;
    width:25px;
    line-height:22px;
    left:-5px;
    top:-5px;
    font-size: 25px;
    transition:0.3s;
   

}

#login{
    position: relative;
    background-color:#ffffff;
    height:350px;
    width: 400px;
    border-radius: 10px;
    display:flex;
    flex-direction:column;
    top:18vh;
    justify-content:flex-start;
    padding:10px 10px ;
    align-items: center;
    box-shadow: 0 75px 5px 3px gainsboro;
}
#login>a{
    margin: 18px 0;
    text-decoration: none;
    font-size:15px;
    color: #1877f2;

}
#login>a:hover{
    text-decoration: underline;
    cursor:pointer;
}

hr{ 
    width:95%;
    height:0.1%;
    background-color:rgba(194,193,193);
    bottom:none;

}

#login>input[type=email],#login>input[type=password]{
    height:35%;
    margin: 8px 0;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 16px;
    width:95%;
    border:1.5px solid#eeeff0;


}

#login>input[type=password]{
    margin-bottom: 12px;
}

#login>input[type=email]:focus,#login>input[type=password]:focus{
    outline: none;
    border: 1px solid blue;
    box-shadow: 0 0 5px #719ece;
    caret-color: blue;
}
#login-button{
    background-color:#1877f2;
    color:#ffffff;
    font-size: 20px;
    border-radius: 5px;
    border:none;
    height:120px;
    font-weight:bold ;
    width:95%;

}

#login-button:hover{
    cursor: pointer;
    background-color:#166fe5;
}

#newaccount{
    background-color:#42b72a;
    color:#ffffff;
    font-size:20px;
    border-radius:4px;
    border:none;
    height:100px;
    font-weight:bold;
    width:60%;
    margin-top:20px;
}
#newaccount:hover{
    background-color:#36a420;
    cursor: pointer;

}
p{
    font-size:15px;
    position: absolute;
    bottom:-55px;
}

footer{ 
    background-color:white;
    position:absolute;
    bottom: 0;
    width: 100vw;
    padding:20px;
    color:#a6a8aa;
    font-size:12px;
    margin-top:100px;
    display:flex;
    justify-content:center;
    word-spacing: 12px;
    list-style:20px;

}

@media screen and (max-width:1114px){
    #recent-login{
        left:70px;
        margin-right: 22vw;

    }
    #login{
        right:30px;
}
}

@media screen and (max-width:900px){
    body{
        height:150vh;

    }
    #container{
        flex-direction:column; 
        align-items: center;
        justify-content:center;
    }
    #recent-login{
        margin-right: 0;
        align-items:center;
        left: 0;
        top:20px;

    }
    #card1{
        margin-right:5px

    }
    #card2{
        margin-right: 0;
        margin-left:5px;
    }
    #login{
        text-align: center;
        left:0;
        margin-right:0;
        margin-top:-30px;
        top:80px;


    }
    #recent-login,#login{
        position: relative;
    }
    footer{
        position: absolute;
        padding:20px;
        width:100vw;
    }
}
@media  and (max-height:670px) {
    footer{
        position:relative;
        top:100%;
    }
}